.title {
  font-family: 'Antic Didone';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 105%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #13233b;

  @media (max-width: 900px) {
    font-size: 46px;
    line-height: 110%;
  }

}
