.resume-form {
  width: 100%;
  padding: 120px 100px 0;

  .phone-select {
    margin-bottom: 0;
  }
  &__container {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    background: #f5f3f0;
    border-radius: 48px;
    padding: 64px;
    @media (max-width: 1280px) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 12px;
    text-align: center;
  }
  &__text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: #3a4458;
  }

  &__form {
    margin-top: 24px;
    &-cont {
      max-width: 710px;
      margin: 0 auto;
    }
    &-row {
      display: flex;
      .input.mr {
        margin-right: 16px;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  .loc-select {
    max-width: none;
    width: 100%;
    &.open {
      z-index: 5;
    }
  }

  textarea.input {
    height: 119px;
    resize: none;
  }
  .button[type='submit'] {
    margin: 40px auto 0;
    outline: none;
    border: none;

    &:hover,
    &:focus {
      outline: none;
      border: none;
    }
  }
  @media (max-width: 1280px) {
    padding: 120px 32px 0;
  }

  @media (max-width: 900px) {
    padding: 80px 16px 0;
    &__container {
      padding: 64px 48px;
    }
    &__form {
      &-cont {
        max-width: none;
      }
    }
  }

  @media (max-width: 768px) {
    &__container {
      padding: 48px 32px;
      border-radius: 32px;
    }
  }

  @media (max-width: 480px) {
    padding: 80px 0px 0;

    &__container {
      padding: 32px 16px 48px;
      border-radius: 0;
      margin: 0px 0px 0;
    }
    &__form {
      &-row {
        display: flex;
        flex-direction: column;
        .input.mr {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
}
