.phone-select {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  &__top {
    padding: 16px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    /* Stroke */

    border: 1px solid rgba(46, 99, 135, 0.17);
    border-radius: 32px;
    position: relative;
    z-index: 1;
  }

  &__flag {
    cursor: pointer;
    margin-right: 4px;
    display: flex;
    align-items: center;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */

    /* Text/Main */

    color: #3a4458;

    img {
      width: 100%;
      max-width: 24px;
      min-width: 24px;
      margin-right: 8px;
      height: 16px;
      object-fit: cover;
    }

    svg {
      width: 100%;
      max-width: 16px;
      min-width: 16px;
      height: 16px;
      margin-left: 4px;

      transition: 0.3s ease-in-out all;
    }
    margin-right: 8px;
  }

  &__input {
    width: 100%;
    border: none;
    outline: none;

    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */

    color: #3a4458;
    &:-webkit-autofill {
      -webkit-text-fill-color: rgb(7, 34, 74) !important;
       -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &::placeholder {
      color: rgba(7, 34, 74, 0.5);
    }
    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
  }
  &__list {
    max-height: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out all;
    background: #ffffff;
    padding: 0px 24px 0px;
    max-height: 342px;
    overflow: auto;
    border: 1px solid rgba(46, 99, 135, 0.17);
    border-radius: 32px;
    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    /* or 18px */

    /* Text/Main */

    color: #3a4458;
    .phone-select__flag {
      margin-right: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &.show {
    .phone-select__top svg {
      transform: rotate(-180deg);
    }
    .phone-select__list {
      padding: 80px 24px 10px;
      max-height: 100000px;
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 768px) {
    &__input,
    &__flag,
    &__item {
      font-size: 14px;
    }

    &__flag img {
      max-width: 20px;
      min-width: 20px;
    }

    &.show {
      .phone-select__list {
        padding: 80px 24px 18px;
        max-height: 100000px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
