.top-arts {
  width: 100%;
  padding: 56px 100px 0;
  &__container {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    @media (max-width: 1280px) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 32px;
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    & > .in-view {
      display: flex;
    }
  }

  &__slider {
    display: none;
  }

  @media (max-width: 1280px) {
    padding: 56px 32px 0;
  }

  @media (max-width: 1024px) {
    &__list {
      display: flex;
      grid-template-columns: none;

      margin-right: -32px;
      margin-left: -32px;
      padding: 0 32px;
      overflow-y: hidden;
      column-gap: 0;
      padding-bottom: 4px;

      & > .in-view {
        min-width: 392px;
        &:not(:last-child) {
          margin-right: 32px;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }

  @media (max-width: 900px) {
    padding: 48px 16px 0;
    &__list {
      margin-right: -16px;
      margin-left: -16px;
      padding: 0 16px;
      column-gap: 0;
      & > .in-view {
        min-width: 392px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
      padding-bottom: 0;
      & > .in-view {
        min-width: auto;
        &:not(:last-child) {
          margin-right: 0;
        }
      }

      display: none;
    }

    &__slider {
      display: flex;

      .in-view {
        background: #f3f6f6;
        border-radius: 32px;
        overflow: hidden;
      }

      .slider__list {
        width: 100%;
      }
      .slick-slider {
        width: 100%;
      }
      .slick-list {
        max-width: none;
        width: calc(100vw + 24px);
        margin: 0px -12px 0;
      }

      .slick-slide > div {
        padding: 0 12px;
      }

      .slick-slide {
        width: calc(100vw - 16px - 24px);
      }

      .slick-dots {
        margin-left: 0;
        width: calc(100%);
      }

      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -16px;
        display: block;
        width: 74px;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 16.1%,
          #ffffff 100%
        );
      }
    }
  }
}
