.product-item {
  background: #f5f3f0;
  border-radius: 48px;
  padding: 45px 32px 32px;
  display: flex;
  flex-direction: column;
  height: 550px;
  overflow: hidden;

  transition: 0.5s ease-in-out all;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out all;
    margin-bottom: 44px;
    height: calc(
      100% - (var(--title-height) + var(--text-height) + 44px + 42px)
    );
    img {
      width: 100%;
      height: 100%;
      transition: 0.5s ease-in-out all;

      object-fit: contain;
    }
  }

  &__title {
    font-family: 'Antic Didone';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;

    color: #13233b;
    margin-bottom: 16px;
    transition: 0.5s ease-in-out all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: inline;
    display: -webkit-box;
    overflow: hidden;
  }

  &__text {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    /* or 20px */

    /* Text/Main */

    color: #3a4458;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: inline;
    display: -webkit-box;
    overflow: hidden;

    transition: 0.5s ease-in-out all;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    transition: 0.5s ease-in-out all;
    overflow: hidden;

    padding-top: 24px;
    border-top: 1px solid rgba(46, 99, 135, 0.07);
  }

  .button {
    width: 100%;
    margin-top: 24px;
    transition: 0.5s ease-in-out all;
    transform: translateY(100%);
  }

  &:hover {
    .product-item__img {
      height: calc(
        100% -
          (var(--title-height) + var(--text-height) + 44px + 42px + 24px + 55px)
      );
    }
    .button {
      transform: translateY(0px);
    }
  }

  @media (max-width: 1366px) {
    height: 530px;
  }

  @media (max-width: 1024px) {
    &__title {
      font-size: 24px;
    }

    &__img {
      margin-bottom: 24px;
      height: calc(
        100% - (var(--title-height) + var(--text-height) + 24px + 42px)
      );
    }
    height: 448px;

    &:hover {
      .product-item__img {
        height: calc(
          100% -
            (
              var(--title-height) + var(--text-height) + 24px + 42px + 24px +
                55px
            )
        );
      }
    }
  }
  @media (max-width: 900px) {
    min-width: 392px;
    height: auto;
    padding: 24px 24px;
    border-radius: 32px;

    &__img {
      height: 34vw;
    }
    &__content {
      padding-top: 20px;
    }

    &__content {
      justify-content: flex-end;
    }
    .button {
      transform: translateY(0px);
    }
    &:hover {
      .button {
        transform: translateY(0px);
      }
      .product-item__img {
        height: 34vw;
      }
      img {
        transform: scale(1);
      }
    }
  }

  @media (max-width: 480px) {


    padding: 0;
    background: #fff;
    border-radius: 0;
    &__img {
      padding: 17px 21px;
      background: #f5f3f0;
      margin-bottom: 0px;
      border-radius: 32px;
      overflow: hidden;
      height: 41vw;
    }
    max-width: 43vw;
    min-width: 150px;
    &__content {
      border: none;
      padding-top: 4px;
    }

    &__title {
      margin-bottom: 4px;
    }

    .button {
      display: none;
    }

    &:hover {
      .product-item__img {
        height: 41vw;
      }
    }
  }
}
