.forth-step {
  form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    column-gap: 8px;
    row-gap: 16px;
  }

  .phone-select {
    &__top {
      padding: 16px 24px;
    }
  }

  .input {
    padding: 16px 24px;
    background: #ffffff;
    border: 1px solid rgba(46, 99, 135, 0.17);
    border-radius: 32px;
    flex-grow: 1;

    &.grow {
      width: 100%;
    }

    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #3a4458;

    &::placeholder {
      color: rgba(7, 34, 74, 0.5);
    }

    &.textarea {
      padding: 24px;
      height: 119px;
      resize: none;
    }

    &:hover,
    &:focus {
      background: #ffffff;
      border: 1px solid rgba(46, 99, 135, 0.17);
      outline: none;
    }
  }
  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: #3a4458 !important;
    }
  }

  .checkbox {
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__bottom {
    margin-top: 32px;
    max-width: 468px;

    .button {
      outline: none;
      border: none;
      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  @media (max-width: 900px) {
    &__bottom {
      margin-top: 16px;
    }
  }

  @media (max-width: 768px) {
    .input {
      font-size: 14px;
    }
  }
}

.old-device {
  .forth-step {
    form {
      row-gap: 0;
      column-gap: 0;
      .input:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
