.services-list {
  padding: 57px 100px 0;
  & > .in-view {
    position: relative;
    z-index: 1;
  }

  &__selects {
    display: grid;
    grid-template-columns: repeat(3, 286px);
    column-gap: 32px;
    justify-content: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 32px;
    margin-top: 32px;
    width: 100%;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1280px) {
      max-width: none;
    }

    .in-view {
      display: flex;
    }
    .service-item {
      width: 100%;
    }
  }

  @media (max-width: 1280px) {
    padding: 57px 32px 0;
  }

  @media (max-width: 1024px) {
    &__selects {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
    }
  }

  @media (max-width: 900px) {
    padding: 48px 16px 0;
  }

  @media (max-width: 768px) {
    padding: 24px 16px 0;
  }

  @media (max-width: 767px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }

    &__selects {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;
    }
  }
}
